[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mcipc = {editable = true, path = "./../mcipc"}
numpy = "*"

[dev-packages]
black = "*"
flake8 = "*"
ipython = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
